div{
	background: purple;
	color: white;
}
#hello{
	background: gray;
	color: black;
	font-family: "verdana" , "gill sans";

}

.cl1{
	color: white;
	background:steelblue;
}

.cl2{
	color: red;
	background: #
}